
.nav-menu {
    background-color: #f8f9fa;
    width: 160px;
    height: 100vh;
    position: fixed;
    top: 12%;
    left: -100%; 
   transition: 850ms;
   
}
.nav-menu.active {
    left: 0;
    transition: 350ms;
}
.nav-Text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    height: 60px;
}
.nav-Text a {
    text-decoration: none;
}